<h1>About this page</h1>

<p>
	This page is not just made for training purposes but it is also made so that I have<br>
	a place to vent, or talk about things and most likely nobody will ever see.
</p>

<p>
	<a href = "http://railstutorial.org/">This is where I learned to make this site.</a>
</p>